*{
    margin:0px;
    padding:0px;
}
body{
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100vw;
    height:100vh;
    overflow-x:hidden
}
.body{
    background-color:rgba(255,228,196,0.5)

}
.heading{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    margin:auto;
    text-decoration: underline blue;
}
.down-arrow{
    position: fixed;
    bottom:40px;
    right:20px;
    font-size: 40px;
    visibility: hidden;

}
.btn{
    color:blue;
}
.up-arrow{
    position: fixed;
    bottom:40px;
    right:70px;
    font-size: 40px;
    visibility: hidden
}
.main{
    width:100vw;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;

}
.infocontainer{
    width:20vw;
    min-width: 270px;
    display:flex;
    flex-direction: column;
    border:2px solid rgb(11, 64, 143);
    border-radius: 10%;
    padding:10px;
    justify-content: space-evenly;
    margin-top: 50px;
    box-shadow: -3px -4px 10px black;

}
.infocontainer:hover{
    background-color:bisque ;
}
.details{

    align-items: center;
    height:80%;
    margin:auto;
    margin-top:10px;
}
.image{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin:auto;
    border:3px solid gray;
}
.image:hover{
    transform: scale(1.04);

}
h4{
    margin:20px;
    font-weight: 400;
}

.details span{
    font-family: cursive;
    font-weight: 800;
}
.foot{
    width:400px;
    text-align: center;
    margin: auto;
    color:blue;
}
@media screen and (max-width:500px) {
    .main{
        overflow-x: hidden;
    }
    .infocontainer{
        width:100vw;
        margin:auto;
        height:40vh;
        margin-top:40px;
        overflow:auto
    }
    .image{
        width:140px;
        height:140px;
        margin-top:20px;
    }
    .details{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .toplink{
        right:15%;
    }
    .btmlink{
        right:20%;
    }

}




